# Build outputs
Debug/
Release/
build/

# Object and dependency files
*.o
*.d
*.su
*.cyclo

# Executable and map files
*.elf
*.hex
*.bin
*.map
*.list

# Compiled IntelliSense DB
compile_commands.json

# Other temporary files
*.tmp
*.bak
*.swp
